<section>
	<form name="frmRegistroFamiliares" ng-submit="vm.addFamily(vm.family)" class="col-sm-6 col-sm-offset-3">

	<h2>Registro Familiares</h2>

	<!-- primerNombre -->
		<md-input-container flex-offset class="md-block">
		    <label>Ingrese nombre del familiar</label>
			
			<input type="text" name="primerNombre" required ng-model="vm.family.firtsName" maxlength="10">

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="required">El nombre es requerido.</div>
		      <div ng-message="maxlength">El nombre no debe tener mas de 10 letras.</div>
		    </div>
		</md-input-container>
	<!-- segundoNOmbre	 -->

		<md-input-container flex-offset class="md-block">
		    <label>Ingrese segundo nombre</label>
			
			<input type="text" name="segundoNombre"  ng-model="vm.family.secondName">

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="maxlength">El nombre no debe tener mas de 10 letras.</div>
		    </div>
		</md-input-container>

	<!-- primerApellido -->

		<md-input-container flex-offset class="md-block">
		    <label>Ingrese el primer apellido</label>
			
			<input type="text" name="primerApellido" required ng-model="vm.family.firstSurname" maxlength="10">

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="maxlength">El nombre no debe tener mas de 10 letras.</div>
		    </div>
		</md-input-container>

	<!-- segundoapellido -->

		<md-input-container flex-offset class="md-block">
		    <label>Ingrese el segundo apellido</label>
			
			<input type="text" name="segundoApellido" ng-model="vm.family.secondSurname" maxlength="10">

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="maxlength">El nombre no debe tener mas de 10 letras.</div>
		    </div>
		</md-input-container>

	<!-- correoelectronico -->

	<md-input-container flex-offset class="md-block">
		    <label>Ingrese el correo electronico</label>
			
			<input type="text" name="email" ng-model="vm.family.email" >

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="maxlength">El correo electronico es requerido.</div>
		    </div>
		</md-input-container>


		<!-- arbolGenealogico-->

	<md-input-container flex-offset class="md-block">
		    <label>Ingrese el tipo de genealogía</label>
			
			<input type="text" name="email" ng-model="vm.family.email" >

		    <div ng-messages="projectForm.genealogy.$error">
		      <div ng-message="maxlength">El nombre no debe tener mas de 10 letras.</div>v>
		    </div>
		</md-input-container>

	<!-- telefono	 -->

	<md-input-container flex-offset class="md-block">
		    <label>Ingrese un telefono</label>
			
			<input type="number" name="phone" ng-model="vm.family.phone">

		    <div ng-messages="projectForm.description.$error">
		      <div ng-message="maxlength">El telefono no debe tener mas de 8 numeros.</div>
		    </div>
		</md-input-container>

		<div>
			<h4>Ingrese la fecha de cumpleanos</h4>
			<md-datepicker ng-model="vm.family.birthdate" name="cumpleannos" md-placeholder="fecha"></md-datepicker>
		</div>



		<button class="btn btn-primary btn-lg" ng-disabled="frmRegistroFamiliares.$error" type="submit">Agregar amigo</button>		
	</form>
</section>